.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formulaire label {
    display: block;
    width: 200px;
    color: #05709b;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    width: 200px;
}

input {
    width: 300px;
    height: 30px;
    text-align: center;

}

.inputColor {
    width: 200px;
    height: 30px;
}

.erreur {
    color: rgb(160, 0, 80);
}

.image {
    align-self: center;
    height:200px;
    width: 200px;
}

h1 {
    color: rgb(69, 156, 255);
    text-shadow: 2px 2px 2px black;
    font-family: "Noto Sans Nabataean", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;


}

body {
    height: 100vh;
    background:
        radial-gradient(circle at top left, #a8eeff 0%, transparent 30%),
        radial-gradient(circle at bottom right, #9ae2ff 0%, transparent 35%),
        linear-gradient(180deg, #ffffff, #f8ffff, #c8efff);
}


.bulle {
left: 100px;
top: 150px;
    position: absolute;
}

.b {
    height: 500px;
}

@keyframes float {
    50% {
        transform: translateY(-30px);
    }
}

/* MERCI AUX GALERIES DE BOUTONS CSS ♥ */
.button-71 {
    background-color: #0f8ce6;
    cursor: pointer;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    border: 0;
    border-radius: 56px;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    outline: 0;
    position: relative;
    text-align: center;

    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-71:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(0, 0, 0, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

.button-71:hover {
    box-shadow: rgb(139, 212, 255) 0 5px 10px inset, rgba(22, 0, 145, 0.1) 0 3px 5px, rgba(0, 15, 221, 0.1) 0 10px 13px;
    transform: scale(1.05);
}

.main {
    display: flex;
    justify-content: center;
    
}

.form_wrapper {

    margin-top: 20px;
}